/* ----------------------  */
/* Custom properties       */
/* ----------------------  */

:root {
  --clr-purple: hsl(259, 100%, 65%);
  --clr-light-red: hsl(0, 100%, 67%);
  --clr-white: hsl(0, 0%, 100%);
  --clr-off-white: hsl(0, 0%, 94%);
  --clr-light-grey: hsl(0, 0%, 86%);
  --clr-smokey-grey: hsl(0, 1%, 44%);
  --clr-off-black: hsl(0, 0%, 8%);
}

/* ----------------------  */
/* Fonts                   */
/* ----------------------  */

@font-face {
  font-family: Poppins;
  src: url(assets/fonts/Poppins-Regular.ttf);
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: Poppins;
  src: url(assets/fonts/Poppins-Italic.ttf);
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: Poppins;
  src: url(assets/fonts/Poppins-Bold.ttf);
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: Poppins;
  src: url(assets/fonts/Poppins-BoldItalic.ttf);
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: Poppins;
  src: url(assets/fonts/Poppins-ExtraBold.ttf);
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: Poppins;
  src: url(assets/fonts/Poppins-ExtraBoldItalic.ttf);
  font-weight: 800;
  font-style: italic;
}

/* ----------------------  */
/* Reset                   */
/* ----------------------  */

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
picture {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
div {
  font-weight: 200;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

html {
  scroll-padding-top: 5em;
}

body {
  font-family: "Poppins", sans-serif;
  color: var(--clr-off-black);
  background-color: var(--clr-light-grey);

  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;

  display: grid;
  grid-template-rows: min-content 1fr;

  overflow-x: hidden;
}

a:not([class]) {
  text-decoration-skip-ink: auto;
}

a {
  color: inherit;
  text-decoration: inherit;
}

img,
picture {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* ----------------------  */
/* Utilities               */
/* ----------------------  */

.flex {
  display: flex;
  gap: var(--gap, 1rem);
}

.column {
  flex-direction: column;
}

.text-purple {
  color: var(--clr-purple);
}

.text-error {
  color: var(--clr-light-red);
  font-size: 0.75em;
  font-weight: normal;
  font-style: italic;
  position: absolute;
  top: 70px;
}

@media (min-width: 900px) {
  .text-error {
    top: 95px;
  }
}

.display-none {
  display: none;
}

/* ----------------------  */
/* Layout                  */
/* ----------------------  */

.grid-container {
  text-align: center;
  display: grid;
  place-items: center;
  padding-bottom: 4rem;

  grid-template-columns: minmax(1rem, 1fr) minmax(85vw, 35rem) minmax(1rem, 1fr);
  grid-template-areas: ". box .";
  height: 100vh;
}

.main-box {
  grid-area: box;
  background-color: var(--clr-off-white);
  padding: 2rem 2rem 2rem 2rem;
  border-radius: 2em 2em 7em 2em;
  /* max-width: min(92vw, 50rem); */
}

@media (min-width: 900px) {
  .main-box {
    border-radius: 2em 2em 12em 2em;
    padding: 2rem;
  }
}

.input-section {
  align-items: flex-start;
  gap: var(--gap, 0.5rem);
  position: relative;
}

/* ----------------------  */
/* Componenets             */
/* ----------------------  */

label {
  font-size: 0.7em;
  font-weight: 700;
  color: var(--clr-smokey-grey);
  text-transform: uppercase;
  letter-spacing: 0.2em;
}

input[type="number"] {
  font-weight: 700;
  padding: 0.2em;
  width: 5rem;
  font-size: 1.2em;
  border: 1px solid var(--clr-light-grey);
  border-radius: 5px;
}

@media (min-width: 900px) {
  input[type="number"] {
    padding: 0.35em;
    width: 9rem;
    font-size: 1.75em;
  }
}

.form {
  border-bottom: 1px solid var(--clr-light-grey);
  gap: var(--gap, 1em);
  display: grid;
  grid-auto-columns: 1fr;
  grid-template-areas:
    "inputsD inputsM inputsY"
    ". submit .";
}

@media (min-width: 900px) {
  .form {
    grid-template-areas:
      "inputsD inputsM inputsY ."
      ". . . submit";
  }
}

.form:nth-child(1) {
  grid-area: inputsD;
}

.form:nth-child(2) {
  grid-area: inputsM;
}

.form:nth-child(3) {
  grid-area: inputsY;
}

.age-box {
  align-items: flex-start;
  font-size: 3rem;
  font-weight: 800;
  font-style: italic;
  line-height: 1;
  margin-top: 3rem;
}

@media (min-width: 900px) {
  .age-box {
    font-size: 5rem;
  }
}

.units {
  font-style: italic;
  font-weight: 700;
}

.input-error {
  border: 1px solid var(--clr-light-red) !important;
}

.submit-button {
  background-color: var(--clr-purple);
  padding: 1rem;
  border-radius: 50%;
  aspect-ratio: 1;
  position: relative;
  grid-area: submit;
  justify-self: center;
  top: 40px;
}

.submit-button:active,
.submit-button:focus-visible {
  background-color: var(--clr-off-black);
}

@media (min-width: 900px) {
  .submit-button {
    padding: 1.2rem;
    position: relative;
    left: 30px;
    top: 40px;
  }
}
